@* @{
    ViewData["Title"] = "Trucks";
}

<h2>All Trucks</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Truck Number</th>
            <th>Make</th>
            <th>Model</th>
            <th>License Plate</th>
            <th>Production Year</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var truck in Model)
        {
            <tr>
                <td>@truck.TruckNumber</td>
                <td>@truck.Make</td>
                <td>@truck.Model</td>
                <td>@truck.LicensePlate</td>
                <td>@truck.ModelYear</td>
                <td>@truck.Color</td>
                <td>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                            <input type="hidden" name="movieId" value="@movie.Id" />
                            <button type="submit" class="btn btn-warning">+Watchlist</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Truck</a> *@